@font-face {
  font-family: 'Cyber1';
  /* Name you will use for the font */
  src: url('../fonts/cyberpunk1/Cyberpunks.ttf') format('truetype');
  /* Path to the .ttf file */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cyber2';
  src: url('../fonts/cyberpunk2/CyberpunkWaifus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Definición Variables
 definimos familia de fuente que voy a utilizar */
:root {
  --color-black: #1B1B2A;
  --color-rojizo: #FF007A;
  --color-verdoso: #00FFB3;
  --color-morado: #A700FF;
  --color-amarillento: #fffb00;
  --color-cromo: #BDC3C7;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

.game-wrapper {
  flex: 0 1 auto;
  width: 100%;
  max-width: 360px;
  aspect-ratio: 9 / 16;
  /* height: 100%;
    max-height: 640px; */
  box-shadow: 0px 0px 100px black; /* Horizontal offset, Vertical offset, Blur radius, Shadow color */
}

.game-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-cromo);
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#title {
  font-family: "Cyber1";
  font-size: 35px;
  animation: cambioColor 7s ease-in-out infinite;
  -webkit-animation: cambioColor 7s ease-in-out infinite;
  margin: 20px;
}

@keyframes cambioColor {
  0% {
    color: var(--color-amarillento);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }

  33% {
    color: var(--color-rojizo);
  }

  66% {
    color: var(--color-morado);
    text-shadow: -2px -2px 10px rgba(0, 0, 0, 0.3);
  }

  100% {
    color: var(--color-amarillento);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
}

#eddie_img-amount {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

#eddie-img-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading_empty, #loading_full {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #00FFB3;*/
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  border: 2px solid black;
}

#loading_full {
  background-color: #00FFB3;
}

#loading_full:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#eddie-img {
  width: 70px;
  height: 70px;
  margin-right: 1px;
  margin-top: 1px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
}

#eddie-img:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

#eddie-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cyber2";
  color: black;
  font-size: 25px;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  background-color: var(--color-cromo);
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#eddie {
  margin-top: 6px;
}