@font-face {
  font-family: 'Cyber1';
  src: url('../fonts/cyberpunk1/Cyberpunks.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cyber2';
  src: url('../fonts/cyberpunk2/CyberpunkWaifus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Definición Variables */
:root {
  --color-black: #0d0d0d; /* Fondo oscuro */
  --color-pink: #ff3d81; /* Rosa neón */
  --color-red: #ff0040; /* Rojo neón */
  --color-cyan: #00fffff8; /* Cian brillante */
  --color-purple: #9c59b6fa; /* Morado vibrante */
  --color-blue: #48aef3f5; /* Azul claro */
  --color-yellow: #f1c40f; /* Amarillo neón */
  --color-green: #2ecc71; /* Verde neón */
  --color-orange: #e67e22; /* Naranja vibrante */
  --color-white: #ffffff; /* Blanco */
  --color-gray: #7f8c8d; /* Gris suave */
}

* {
  font-weight: 400;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

.game-wrapper {
  flex: 0 1 auto;
  width: 100%;
  max-width: 360px;
  aspect-ratio: 9 / 16;
  box-shadow: 0px 0px 100px var(--color-black);
  overflow: hidden;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray);
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#start_game {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  padding: 20px;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  background: rgb(0, 0, 0);
  font-family: 'Cyber1', sans-serif;
  color: var(--color-black);
  text-shadow: 1px 3px 12px var(--color-black);
  box-shadow: 0px 0px 25px var(--color-pink);
  text-transform: uppercase;
  border-radius: 35%;
  cursor: pointer;
  -webkit-border-radius: 35%;
  -moz-border-radius: 35%;
  -ms-border-radius: 35%;
  -o-border-radius: 35%;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  z-index: 1000;
  animation: cambioColor 7s ease-in-out infinite;
  -webkit-animation: cambioColor 7s ease-in-out infinite;
}

#start_game:hover {
  background: var(--color-black);
}

.resources {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#resource_list {
  background-color: var(--color-cyan);
  font-family: "Cyber2";
  box-shadow: 0 0 5px var(--color-black), 0 0 15px var(--color-blue);
  opacity: 0.95;
  width: 172px;
  height: 185px;
  margin: 5px;
  padding: 10px;
  animation: aparecer 2s ease;
  transition: all 300ms ease;
  animation: pulseEffect1 1.5s infinite alternate;
  -webkit-animation: pulseEffect1 1.5s infinite alternate;
}

@keyframes pulseEffect1 {
  0% {
    box-shadow: 0 0 5px var(--color-cyan), 0 0 15px var(--color-blue);
  }
  100% {
    box-shadow: 0 0 10px var(--color-blue), 0 0 30px var(--color-cyan);
  }
}

#resource_list:hover {
  opacity: 1;
  box-shadow: 0 0 10px var(--color-black), 0 0 20px var(--color-cyan);
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

#title {
  font-family: "Cyber1";
  font-size: 32px;
  animation: cambioColor 7s ease-in-out infinite;
  margin: 10px 5px 5px 5px;
}

@keyframes cambioColor {
  0% {
    color: var(--color-yellow);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }

  33% {
    color: var(--color-pink);
  }

  66% {
    color: var(--color-purple);
    text-shadow: -2px -2px 10px rgba(0, 0, 0, 0.3);
  }

  100% {
    color: var(--color-yellow);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
}

#eddie_img-amount {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

#eddie-img-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top_info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#loading_empty, #loading_full {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 200ms ease;
}

#loading_empty:hover {
  transform: scale(1.15);
}

#eddie-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: all 100ms ease;
  cursor: pointer;
}

#eddie-img:active {
  transform: scale(0.9);
}

#eddie-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cyber2";
  color: var(--color-black);
  font-size: 25px;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  background-color: var(--color-cyan);
  width: 35px;
  height: 35px;
  margin-right: 8px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease;
}

#eddie-wrapper:hover {
  background-color: var(--color-cyan);
}

#eddie {
  margin-top: 5px;
}

.cyber_btn {
  z-index: 3;
  background: linear-gradient(145deg, var(--color-cyan), var(--color-yellow));
  font-family: 'Cyber2', sans-serif;
  text-transform: uppercase;
  padding: 12px 27px;
  margin: 4.5px;
  cursor: pointer;
  box-shadow: 0 0 15px var(--color-blue), 0 0 20px var(--color-cyan);
  opacity: 0;
  border-radius: 7%;
  transform: translateX(-100px);
  transition: all 300ms ease;
  animation: slideInFade 600ms ease forwards;
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  -ms-border-radius: 7%;
  -o-border-radius: 7%;
}

.cyber_btn:hover {
  background: linear-gradient(145deg, var(--color-cyan), var(--color-orange));
  box-shadow: 0 0 20px var(--color-black), 0 0 25px var(--color-cyan);
  transform: scale(1.01);
}

.cyber_btn:active {
  transform: scale(0.9);
  box-shadow: 0 0 20px var(--color-purple), 0 0 30px var(--color-pink);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

#transcend_btn {
  background: linear-gradient(155deg, var(--color-pink), var(--color-blue));
  font-family: 'Cyber1', sans-serif;
  text-transform: uppercase;
  padding: 18px 35px;
  margin-top: 15px;
  cursor: pointer;
  color: var(--color-white);
  letter-spacing: 3px;
  text-shadow: 0 0 10px var(--color-pink), 0 0 20px var(--color-cyan);
  box-shadow: 0 0 15px var(--color-black), 0 0 25px var(--color-pink);
  border-radius: 0%;
  transform: translateY(-50px) scale(0.8);
  transition: all 400ms ease;
  /* , glitchEffect 1000ms infinite alternate */
  animation: pulseEffect 1.5s infinite alternate, slideInFade 700ms ease forwards;
  -webkit-animation: pulseEffect 1.5s infinite alternate, slideInFade 700ms ease forwards;
}

.costo {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  width: 150px;
  height: 20px;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.cyber_btn:hover .costo {
  visibility: visible;
  opacity: 1;
}

#transcend_btn:hover {
  background: linear-gradient(155deg, var(--color-purple), var(--color-orange));
  box-shadow: 0 0 25px var(--color-yellow), 0 0 40px var(--color-pink);
  text-shadow: 0 0 15px var(--color-green), 0 0 30px var(--color-yellow);
  transform: scale(1.2) rotate(2deg);
  border-color: var(--color-green);
}

@keyframes slideInFade {
  from {
    opacity: 0;
    transform: translateY(-50px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes pulseEffect {
  0% {
    box-shadow: 0 0 15px var(--color-purple), 0 0 30px var(--color-yellow);
  }
  100% {
    box-shadow: 0 0 25px var(--color-yellow), 0 0 50px var(--color-purple);
  }
}

#buttons {
  position: absolute;
  top: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cyber_text--no_anim {
  font-family: 'Cyber2', sans-serif;
  margin-left: 4px;
  padding: 4px;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 15%;
  text-shadow: 0 0 5px var(--color-gray), 0 0 10px var(--color-purple);
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  box-shadow: 0 0 5px var(--color-gray), 0 0 10px var(--color-purple);
  text-shadow: var(--color-white);
  transform: scale(1.05);
}

.cyber_text--fade_out {
  font-family: 'Cyber2', sans-serif;
  margin-left: 4px;
  padding: 4px;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 15%;
  text-shadow: 0 0 5px var(--color-gray), 0 0 10px var(--color-purple);
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  box-shadow: 0 0 5px var(--color-gray), 0 0 10px var(--color-purple);
  animation: fadeOut 1.5s infinite;
  -webkit-animation: fadeOut 1.5s infinite;
  transform: scale(1.05);
  text-shadow: var(--color-white);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.cyber_text {
  font-family: 'Cyber2', sans-serif;
  padding: 3px;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 15%;
  text-shadow: 0 0 5px var(--color-gray), 0 0 10px var(--color-purple);
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  box-shadow: 0 0 5px var(--color-gray), 0 0 10px var(--color-purple);
  animation: loadingAnimation 1s infinite;
  text-shadow: var(--color-white);
}

@keyframes loadingAnimation {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px var(--color-gray), 0 0 10px var(--color-purple);
  }
  50% {
    transform: scale(1.05); /* Slightly increase size */
    box-shadow: 0 0 15px var(--color-gray), 0 0 20px var(--color-purple); /* Increase shadow */
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px var(--color-gray), 0 0 10px var(--color-purple);
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
  pointer-events: auto;
}

.cyber_panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--color-blue);
  /*width: 350px;
  height: 300px;
  */
  width: 310px;
  height: 295px;
  font-family: 'Cyber2', sans-serif;
  text-transform: uppercase;
  padding: 15px;
  margin-top: 10px;
  transition: all 200ms ease;
  box-shadow: 0 0 20px var(--color-black), 0 0 30px var(--color-cyan);
  opacity: 0;
  z-index: 2;
  transform: translateX(-100px);
  animation: slideInFade 600ms ease forwards;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}

.cyber_panel--hidden {
  display: flex;
  flex-wrap: wrap;
  background: var(--color-blue);
  width: 0px;
  height: 0px;
  font-family: 'Cyber2', sans-serif;
  text-transform: uppercase;
  padding: 15px;
  margin: 20%;
  transition: all 200ms ease;
  box-shadow: 0 0 20px var(--color-black), 0 0 30px var(--color-cyan);
  opacity: 0;
  z-index: 2;
  transform: translateX(-100px);
}

.cyber_panel--hidden--animation {
  animation: slideOutFade 1s ease forwards;
}

@keyframes slideOutFade {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.panel_option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cyan);
  /* width: 45%; */
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
  margin: 6px;
  box-shadow: 0 0 15px var(--color-purple), 0 0 25px var(--color-pink);
  cursor: pointer;
  transition: all 200ms ease;
}

.panel_option:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--color-purple), 0 0 30px var(--color-pink);
}

.panel_option:active {
  transform: scale(0.95);
  box-shadow: 0 0 20px var(--color-purple), 0 0 30px var(--color-pink);
}

.exit_button {
  position: absolute;
  top: -13px;
  right: -13px;
  background: var(--color-pink);
  color: var(--color-white);
  font-family: 'Cyber2', sans-serif;
  font-size: 18px;
  width: 31px;
  height: 31px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px var(--color-black), 0 0 15px var(--color-pink);
  transition: all 200ms ease;
  z-index: 3;
}

.exit_button:hover {
  background: var(--color-red);
  box-shadow: 0 0 15px var(--color-black), 0 0 20px var(--color-red);
  transform: scale(1.2);
}

.exit_button:active {
  transform: scale(0.9);
}

.price_tag_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-yellow);
  color: var(--color-black);
  font-family: 'Cyber2', sans-serif;
  font-size: 10px;
  text-align: center;
  width: 70px;
  height: 45px;
  border: none;
  box-shadow: 0 0 10px var(--color-black), 0 0 15px var(--color-yellow);
  z-index: 3;
}

#black_market_panel {
  position: absolute;
  top: 40%;
}

#verbose_box {
  position: absolute;
  max-height: 141px;
  overflow: hidden;
  margin: 2px;
  padding: 5px;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.verbose, .verbose--fadeout {
  font-family: 'Cyber2', sans-serif;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: 10px;
  margin: 2px;
  padding: 5px;
  animation: fadeIn 150ms ease-in forwards;
  -webkit-animation: fadeIn 150ms ease-in forwards;
  text-align: center;
}

.verbose--fadeout {
  animation: fadeOut 150ms ease-in forwards;
  -webkit-animation: fadeOut 150ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
}
  to {
    opacity: 1;
}
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
}
}

#log_btn {
  position: absolute;
  max-height: 141px;
  overflow: hidden;
  margin: 8px;
  padding: 5px;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: 12px;
  cursor: pointer;
  z-index: 300;
}

#log_btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--color-black), 0 0 15px var(--color-cyan);
}

#log:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
} 

#log-box {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  max-height: 90%;
  background-color: var(--color-black);
  padding: 10px;
  border: 2px solid var(--color-blue);
  color: var(--color-cyan);
  z-index: 1001;
  overflow-y: auto;
  text-align: left;
  font-family: 'Cyber2', sans-serif;
  box-shadow: 0 0 20px var(--color-cyan), 0 0 40px var(--color-blue);
  border-radius: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  line-height: 1.5;
  animation: fadeIn 150ms ease-in forwards;
}

#log-box-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

#log-box-table tr {
  border: 1px solid var(--color-blue);
}

#log-box-table td {
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  padding: 2px;
  border: 1px solid var(--color-blue);
}

#test {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #0d0d0d;
  color: white;
}

#lluvia {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.gota1 {
  position: absolute;
  background: rgba(112, 255, 255, 0.1);
  width: 2px;
  height: 10px;
  border-radius: 50%;
  animation: fall1 1200ms linear infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.gota2 {
  position: absolute;
  background: rgba(154, 255, 255, 0.2);
  width: 2px;
  height: 10px;
  border-radius: 50%;
  animation: fall2 1300ms linear infinite;
  -webkit-animation: fall2 1300ms linear infinite;
}
.gota3 {
  position: absolute;
  background: rgba(139, 250, 250, 0.3);
  width: 2px;
  height: 10px;
  border-radius: 50%;
  animation: fall3 1400ms linear infinite;
}
.gota4 {
  position: absolute;
  background: rgba(148, 255, 255, 0.4);
  width: 2px;
  height: 10px;
  border-radius: 50%;
  animation: fall4 1500ms linear infinite;
}

@keyframes fall1 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes fall2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes fall3 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes fall4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}