body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    align-items: center;
}
.panel {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
.button:disabled {
    background-color: #ddd;
}
#mainGame {
    width: 375px;
    height: 667px;
    border: 4px solid black;
}
#resources {
    margin-top: 20px;
}